* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-secondary-opacty: rgba(39, 174, 95, 0.75);
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: rgb(0, 117, 255);
  --color-secondary-opacty: rgb(0, 117, 255, 0.75);
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all .4s ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

header {
  height: 100vh !important;
  color: var(--color-white);
  overflow: hidden;
}

section {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
}

.section{
  transform: translateY(-100%) scale(0);
  background-color: var(--color-primary);
  transition: all .4s ease-in-out;
}

.about,
.portfolio {
  padding: 3rem 15px;
}

.contact .container {
  padding: 0 15px;
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active{
  display: block;
  animation: scaleAnmi 1s ease-in-out;
}

@keyframes scaleAnmi {
  0%{
      transform: translateY(-100%) scaleY(0);
  }
  100%{
      transform: translateY(0) scaleY(1);
  }
}

/* Start Icons */
.control-icon {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.control-icon .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}

.control-icon .control svg {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.control-icon .active-btn {
  background-color: var(--color-secondary);
  transition: all .4s ease-in-out;
}

.control-icon .active-btn svg {
  color: white;
}

.light-icon {
  position: fixed;
  top: 5%;
  right: 3%;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
  transition: all .1s ease-in-out;
}

.light-icon:active{
  transform: translateY(-5px);
}

.light-icon svg {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
/* End Icons */

/* Start Btn */
.btn-container {
  display: flex;
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 5rem;
  position: relative;
}

.btn-container .main-btn {
  border-radius: 30px;
  position: relative;
  font-weight: 600;
  color: inherit;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.btn-container .main-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%) !important;
  background-color: var(--color-secondary) !important;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.btn-container .main-btn:hover::after {
  transform: translateX(0%) !important;
}

.btn-container .main-btn .btn-text {
  padding: 0 2rem;
}

.btn-container .main-btn .btn-icon {
  background-color: var(--color-secondary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
/* End Btn */

/* Start Header */
.header-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100% !important;
}

/* Start left-header */
header .header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}

header .header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 35%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

header .header-content .left-header .image {
  text-align: center;
  background-color: var(--color-grey-3);
  max-width: 22%;
  height: auto;
  border-radius: 50%;
  margin: 0rem 1rem 12rem 7rem;
  transition: all 0.4s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

header .header-content .left-header .image img {
  transform: translateY(21px);
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  object-fit: cover !important;
  transition: all 0.4s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(21px);
  -moz-transform: translateY(21px);
  -ms-transform: translateY(21px);
  -o-transform: translateY(21px);
}

/* Start right-header */
header .header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5rem;
}

header .header-content .right-header h1 {
  font-size: 3rem;
  font-weight: 600;
}

header .header-content .right-header h1 span {
  color: var(--color-secondary);
}

header .header-content .right-header p {
  margin: 1.5rem 0;
  margin-right: 1.5rem !important;
  line-height: 2rem;
}

/* End Header */

/* Start ABOUT ME */
.about {
  padding-top: 3rem;
  min-height: 100%;
}

.about .main-text {
  text-align: center;
}

.about .main-text h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 600;
}

.about .main-text h1 span {
  color: var(--color-secondary);
}

/* Start info */
.about .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;
}

.about .info .left-about {
  margin-right: 2rem;
}

.about .info .left-about h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about .info .left-about p {
  line-height: 1.5rem;
  padding: 1rem;
  color: var(--color-grey-1);
}

.about .info .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about .info .right-about .box {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all .4s ease-in-out;
  box-shadow: 1px 2px 15px rgb(0 0 0 / 10%);
}

.about .info .right-about .box:hover {
  cursor: default;
  border: 1px solid var(--color-secondary);
  transform: translateY(-5px);
  box-shadow: 1px 4px 15px rgb(0 0 0 / 32%);
}

.about .info .right-about .box .text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.about .info .right-about .box .text h1 {
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 600;
}

.about .info .right-about .box .text p {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}

.about .info .right-about .box .text p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}
/* End info */

/* Start Skills */
.skills,
.training {
  padding-bottom: 4rem;
  margin-top: 3rem;

}
.skills .main-text h2,
.training .main-text h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.skills .main-text h2::before,
.training .main-text h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--color-grey-5);
  width: 40%;
  height: 1px;
  transform: translateX(-50%);
}

.skills .all-progres {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.skills .all-progres .box {
  display: flex;
  flex-direction: column;
}

.skills .all-progres .box > p {
  text-transform: uppercase;
  font-weight: 500;
}

.skills .all-progres .box .progres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skills .all-progres .box .progres p {
  color: var(--color-grey-2);
}

.skills .all-progres .box .progres .prog-con {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}

.skills .all-progres .box .progres .prog-con span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all .4s ease-in-out;
}
/* End Skills */

/* Start TRAINING */
.training .timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-bottom: 3rem;
}

.training .timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
}
.training .timeline .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}

.training .timeline .tl-icon svg {
  font-size: 1.3rem;
  align-self: center;
}

.training .timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
  width: 120px;
  text-align: center;
}

.training .timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

.training .timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}

.training .timeline .timeline-item .due-p {
  color: var(--color-grey-2);
}
/* End TRAINING */

/* End ABOUT ME */

/* Start PORTOFOLIO */

.portfolio {
  padding-top: 3rem;
  min-height: 100%;
}

.portfolio .main-text {
  text-align: center;
}

.portfolio .main-text h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 600;
}

.portfolio .main-text h1 span {
  color: var(--color-secondary);
}

.portfolio .main-text p {
  color: var(--color-white);
  padding: 2rem 0;
}

.portfolio .box {
  margin: 1rem 0;
  position: relative;
}

.portfolio .box .image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}


.portfolio .box .text {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary-opacty);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: all .4s ease-in-out;
}

.portfolio .box:hover .text {
  transform: scale(1);
  opacity: 1;
}

.portfolio .box .text h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.portfolio .box .text .pro-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .box .text .pro-icon a {
  background-color: var(--color-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.portfolio .box .text .pro-icon a:hover {
  background-color: var(--color-white);
}

.portfolio .box .text .pro-icon a svg {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}

.portfolio .box .text .pro-icon a:hover svg {
  color: var(--color-primary);
}

.portfolio .buttoms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.portfolio .buttoms a {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}

.portfolio .buttoms a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%) !important;
  background-color: var(--color-secondary) !important;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.portfolio .buttoms a:hover::after {
  transform: translateX(0%) !important;
}

.none {
  display: none;
}
/* End PORTOFOLIO */


/* Start contact */
.contact {
  padding-top: 3.1rem;
  min-height: 100%;
}

.contact .main-text {
  text-align: center;
}

.contact .main-text h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 600;
}

.contact .main-text h1 span {
  color: var(--color-secondary);
}

.contact .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 2.1rem;
}

.contact .info .left-contact h2 {
  margin-bottom: 1rem !important;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact .info .left-contact p {
  margin: 0.5rem 0;
  line-height: 2rem;
}

.contact .info .left-contact .items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact .info .left-contact .items .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}

.contact .info .left-contact .items .box .contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .info .left-contact .items .box .contact-text p:nth-child(1) {
  padding-left: 1rem;
}

.contact .info .left-contact .items .box .contact-text p:nth-child(2) {
  margin-left: 4rem;
  padding: 0 !important;
}

.contact .info .left-contact .contact-iconss {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.contact .info .left-contact .contact-iconss a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1rem 0.3rem;
  transition: all .4s ease-in-out;
}

.contact .info .left-contact .contact-iconss a:hover {
  background-color: var(--color-secondary);
  color: var(--color-grey-5);
}

.contact .info .left-contact .right-contact{
  flex: 3;
  margin-left: 3rem;
}
.input-control{
  position: relative;
  margin: .9rem 0;
}
.input-control input,
.input-control textarea{
  border-radius: 13px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: .5rem .7rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  color: var(--color-white);
  width: 100%;
  resize: none;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.input-control span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  color: red;
}

.input-control span svg {
  color: seagreen;
}

.btn-container span#errsend {
  position: absolute;
  right: -50px;
  top: 46%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: red;
}
/* End contact */