@media (max-width: 992px) {
  .section {
    padding: 30px !important;
  }
}

/* Start Icons */
@media (max-width: 768px) {
  .control-icon {
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    top: auto !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    width: 100% !important;
    background-color: var(--color-grey-5) !important;
    border-radius: 10px !important;
  }
  .control-icon .control {
    margin: 1rem 0.3rem !important;
  }
  .light-icon {
    width: 50px !important;
    height: 50px !important;
  }
}
/* End Icons */

/* Start Header */

@media (max-width: 992px) {
  header .header-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100% !important;
  }
  header .header-content .right-header {
    grid-row: 1;
    height: 120%;
    width: 90%;
    margin: 0 auto;
    padding: 0 !important;
  }
  header .header-content .right-header h1 {
    font-size: 1.5rem !important;
  }
  header .header-content .right-header p {
    margin: 1rem !important;
  }
  header .header-content .left-header .h-shape {
    display: none;
  }
  header .header-content .left-header .image {
    height: 100% !important;
    width: 75% !important;
    margin-left: 2rem !important;
  }
  
}

/* End Header */

/* Start ABOUT ME */

/* Start info */
@media (max-width: 992px) {
  .about .info {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .about .info .left-about p {
    padding-left: 0 !important;
  }
  .about .info .right-about {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    margin-top: 3rem;
  }
}
/* End info */

/* Start Skills */
@media (max-width: 992px) {
  .skills .all-progres {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
/* End Skills */

/* Start TRAINING */
@media (max-width: 768px) {
  .training .timeline {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
/* End TRAINING */

/* End ABOUT ME */


/* Start portfolio */
@media (max-width: 499px) {
  .portfolio .box .image img {
    height: 230px !important;
  }
  .portfolio .main-text h1 {
    font-size: 2rem !important;
  }
  .portfolio .buttoms {
    margin-bottom: 5rem;
  }
}

@media (min-width: 500px) and (max-width: 720px) {
  .portfolio .box .image img {
    height: 330px !important;
  }
  .portfolio .main-text h1 {
    font-size: 2.5rem !important;
  }
}

@media (min-width: 721px) and (max-width: 992px) {
  .portfolio .box .image img {
    height: 270px !important;
  }
  .portfolio .main-text h1 {
    font-size: 2.5rem !important;
  }
}
/* End portfolio */

/* Start contact */
@media (max-width: 992px) {
  .contact .info {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .i-c-2 {
    flex-direction: column;
  }
  .i-c-2 input:last-child {
    margin-left: 0 !important;
    margin-top: 1rem !important;
  }
  .send {
    justify-content: center !important;
  }
}

@media (max-width: 540px) {
  .contact .info .left-contact .items .box:nth-child(2) .contact-text p:nth-child(2),
  .contact .info .left-contact .items .box:nth-child(4) .contact-text p:nth-child(2) {
    margin-left: 2rem !important;
  }
  .contact .info .left-contact .items .box:nth-child(1) .contact-text p:nth-child(2),
  .contact .info .left-contact .items .box:nth-child(3) .contact-text p:nth-child(2),
  .contact .info .left-contact .items .box:nth-child(5) .contact-text p:nth-child(2) {
    margin-left: 3rem;
  }
}
/* End contact */